{% extends "basesite/base.html" %}
{% block content %}
<main role="main" class="container">

<link href="/static/CSS/main.css" rel="stylesheet">
<div>
    <br>
    <br>
    <br>

     <center><img src="/static/images/logos/{{ car.name }}.jpg" alt="Car Logo" class="center"></center> 

<br>
<center> <h2 class="display-2" face="Helvetica" >
    {{ car.year }} 
    {% if car.name == "BMW" %}
        {{ car.name }} 
    {% else %}
        {{ car.name|title }} 
    {% endif %}
    {{ car.model|title }}</h2> </center>
<br>
<table class="table table-striped">
    <tbody>
        <tr>
            <td>Make</td>
            <td>{{ car.name|capfirst }}</td>
        </tr>
            <td>Model</td>
            <td>{{ car.model|capfirst }}</td>
        </tr>
            <td>Series</td>
            <td>{{ car.series|capfirst }}</td>
        </tr>
            <td>Year</td>
            <td>{{ car.year }}</td>
        </tr>
            <td>Purchase Price</td>
            <td>${{ car.purchase_price }}</td>
        </tr>
            <td>Engine Size</td>
            <td>{{ car.engine_size }}</td>
        </tr>
            <td>Fuel System</td>
            <td>{{ car.fuel_system }}</td>
        </tr>
            <td>Tank Capacity</td>
            <td>{{ car.tank_capacity }}</td>
        </tr>
            <td>Power</td>  
            <td>{{ car.power }}</td>
        </tr>
            <td>Seating Capacity</td>
            <td>{{ car.seating_capacity }}</td>
        </tr>
            <td>Transmission</td>
            <td>{{ car.transmission }}</td>
        </tr>
            <td>Body Type</td>
            <td>{{ car.body_type }}</td>
        </tr>
            <td>Drive</td>
            <td>{{ car.drive }}</td>
        </tr>
            <td>Wheelbase</td>
            <td>{{ car.wheelbase }}</td>
        </tr>
    </tbody>
</table>    
<br>

</div>
{% endblock %}