{% extends "basesite/base.html" %}
{% block content %}
<main role="main" class="container">

<!-- Custom styles for this template -->
<link href="/static/css/landing-page.min.css" rel="stylesheet">
<!-- Custom fonts for this template -->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

<link href="/static/CSS/main.css" rel="stylesheet">

<script>
function toggleHistory(id){
  $(document).ready(function(){
      // Toggle rental history div
      $(id).toggle(10);
      // Toggle button text
      $('#history').text(function(i, txt){
        return txt === "Show Rental History" ? "Collapse Rental History" : "Show Rental History";
      })
  });
};
</script>

<div>
    <br>
    <br>
    <br>

<!-- Getting car make logo for top of page -->
    <center><img src="/static/images/logos/{{ car.name }}.jpg" alt="Car Logo" class="center"></center>

<br>
<!-- Getting car make and year for title -->
<center> <h2 name="CarTitle" class="display-2" face="Helvetica" >
    {{ car.year }}
    {% if car.name == "BMW" %}
        {{ car.name }}
    {% else %}
        {{ car.name|title }}
    {% endif %}
    {{ car.model|title }}</h2> </center>
<br>
<!-- Car details table - uses bootstrap -->
<table class="table table-striped">
    <tbody>
        <tr>
            <td>Make</td>
            <td>{{ car.name|capfirst }}</td>
        </tr>
        <tr>
            <td>Model</td>
            <td>{{ car.model|capfirst }}</td>
        </tr>
        <tr>
            <td>Series</td>
            <td>{{ car.series|capfirst }}</td>
        </tr>
        <tr>
            <td>Year</td>
            <td>{{ car.year }}</td>
        </tr>
        <tr>
            <td>Purchase Price</td>
            <td>${{ car.purchase_price }}</td>
        </tr>
        <tr>
            <td>Engine Size</td>
            <td>{{ car.engine_size }}L</td>
        </tr>
        <tr>
            <td>Fuel System</td>
            <td>{{ car.fuel_system }}</td>
        </tr>
        <tr>
            <td>Tank Capacity</td>
            <td>{{ car.tank_capacity }}L</td>
        </tr>
        <tr>
            <td>Power</td>
            <td>{{ car.power }}KW</td>
        </tr>
        <tr>
            <td>Seating Capacity</td>
            <td>{{ car.seating_capacity }}</td>
        </tr>
        <tr>
            <td>Transmission</td>
            <td>{{ car.transmission }}</td>
        </tr>
        <tr>
            <td>Body Type</td>
            <td>{{ car.body_type }}</td>
        </tr>
        <tr>
            <td>Drive</td>
            <td>{{ car.drive }}</td>
        </tr>
        <tr>
            <td>Wheelbase</td>
            <td>{{ car.wheelbase }}mm</td>
        </tr>
    </tbody>
</table>

<!-- Rental History of each car, available to logged in users
<!-- Note: Django templating will not ignore commented commands. -->
{% if user.is_authenticated %}
<center>
<button class="btn btn-outline-secondary" type="button" id='history' onclick='toggleHistory("#rentalHistory")'>Show Rental History</button>
</center>
<!-- Div class to make section collapse by default. Click button to show -->
  <div id="rentalHistory" class="accordion-body collapse">
    <center><h2 class="display-2" face="Helvetica">Rental History</h2></center>
    <table class="table table-striped">
        <tbody>
            {% for order in history %}
            <tr>
                <td>Pick up from {{order.pickup_store.name}} on {{order.pickup_date}}</td>
                <td>Dropped off at {{order.return_store.name}} on {{order.return_date}}</td>
                <td>Customer: <a href="/customer_details/{{ order.customerID.id }}">{{order.customerID.name}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js'></script>
  <div id="canvas-holder">
      <canvas id="chart-area"></canvas>
      <center><button class="btn btn-outline-secondary" id='swap'>Swap to return store</button></center>
  </div>

  <script>
  var myChart;
  var timeFormat = 'YYYY-MM-DD';

  var conf = {
        type: 'bar',
        data: {
          datasets: [{
            data: [
              10,
              10,
              10,
              10,
              10,
            ],
            backgroundColor: [
              "#C0392B", "#9B59B6", "#3498DB", "#27AE60", "#1ABC9C", "#8E44AD",
              "#2980B9", "#E74C3C", "#2ECC71", "#F1C40F", "#16A085", "#F39C12",
              "#E67E22", "#D35400"
            ],
            label: 'Area'
          }],
          labels: [
            'Red',
            'Orange',
            'Yellow',
            'Green',
            'Blue'
          ]
        },
        options: {
          title: {
            display: true,
            text: 'Store the car was picked up at',
          },
          responsive: true,
          legend:{
            display: false
          },
          scales: {
            xAxis: [{
              type: 'time',
              time: {
  							format: timeFormat,
  							// round: 'day'
  							tooltipFormat: 'll HH:mm'
						  },
              scaleLabel: {
  							display: false,
  							labelString: 'Date'
              },
              gridLines: {
              display: false
            }}],
            yAxis: [{
                gridLines: {
                  display: false,
                },
                ticks: {
                  beginAtZero: true,
                  stepSize: 1,
                }
              }]
          }},
  };
  function initChart(){
    var context = document.getElementById('chart-area').getContext('2d');
    myChart = new Chart(context, conf);
    myChart.update();
  }

  $('#swap').click(function(){
    var temp = false;
    // Change the button text and set temp var
    $('#swap').text(function(i, txt){
      temp = (txt == "Store the car was picked up at");
      return txt == "Store the car was picked up at" ? "Store the car was returned to" : "Store the car was picked up at";
    })
    // Change chart options and data
    if (temp){
      myChart.options.title.text = "Store the car was picked up at";
      myChart.data.datasets[0].data = Object.values(stores.pickup_date);
      myChart.data.labels = Object.keys(stores.pickup_date);
    }
    else {
      myChart.options.title.text = "Store the car was returned to";
      myChart.data.datasets[0].data = Object.values(stores.return_date);
      myChart.data.labels = Object.keys(stores.return_date);
    }
    // Rebuild chart
    myChart.destroy();
    myChart.options.scales.yAxes[0].ticks = {
      stepSize: 1,
      beginAtZero: true,
    };
    initChart();
  })

  var stores = {'pickup_date': {},
                'return_date': {}};

  $( document ).ready(function(){
        initChart();
        $.post("/api/history",
        {
          'carID': {{car.id}},
        },
        function(data, status){
            res = data;
            // iterates over all results
            data.history.forEach(function (item){
              // Add values of pickup and return to stores object
              stores['pickup_date'][item.pickup_store] = data.history.filter(store => store.pickup_store == item.pickup_store).length;
              stores['return_date'][item.return_store] = data.history.filter(store => store.return_store == item.return_store).length;
            });
            myChart.data.datasets[0].data = Object.values(stores.pickup_date);
            myChart.data.labels = Object.keys(stores.pickup_date);
            myChart.update();
        }
      )}
  );
  </script>

  </div>
</div>
{% endif %}

<!-- Icons Grid -->
<div class="features-icons bg-light text-center">
  <div class="container card cardColour">
    <h1 class="mb-5">Suggested Cars:</h1>
    <div class="row">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <img src="/static/images/logos/{{recCar1.name}}.jpg" class="constrain">
          </div>
          <h3><a href="/car_details/{{recCar1.id}}">{{recCar1.year|capfirst}} {{ recCar1.name|title }} {{ recCar1.model|title }}</a>
            <h3>
              <p class="lead mb-0">{{ recCar1.seating_capacity|capfirst }}<br> {{ recCar1.drive|capfirst }} <br> {{ recCar1.body_type|title }} </p>
        </div>
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <img src="/static/images/logos/{{recCar2.name}}.jpg" class="constrain">
          </div>
           <h3><a href="/car_details/{{recCar2.id}}">{{recCar2.year|capfirst}} {{ recCar2.name|title }} {{ recCar2.model|title }}</a>
            <h3>
              <p class="lead mb-0">{{ recCar2.seating_capacity|capfirst }}<br> {{ recCar2.drive|capfirst }} <br> {{ recCar2.body_type|title }} </p>
        </div>
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <img src="/static/images/logos/{{recCar3.name}}.jpg" class="constrain">
          </div>
          <h3><a href="/car_details/{{recCar3.id}}">{{recCar3.year|capfirst}} {{ recCar3.name|title }} {{ recCar3.model|title }}</a>
            <h3>
              <p class="lead mb-0">{{ recCar3.seating_capacity|capfirst }}<br> {{ recCar3.drive|capfirst }} <br> {{ recCar3.body_type|title }} </p>
        </div>
    </div>
    </div>
</div>

<footer class="footer bg-light">
  <div class="text-center">
    <p class="text-muted small mb-4 mb-lg-0">&copy; Car Rental Company 2018. All Rights Reserved.</p>
  </div>
</footer>

{% endblock %}
