{% extends "basesite/base.html" %}
{% block content %}
<main role="main" class="container">

<!-- Custom styles for this template -->
<link href="/static/css/landing-page.min.css" rel="stylesheet">
<!-- Custom fonts for this template -->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

<link href="/static/CSS/main.css" rel="stylesheet">

<script>
function toggleHistory(id){
  $(document).ready(function(){
      // Toggle rental history div
      $(id).toggle(10);
      // Toggle button text
      $('#history').text(function(i, txt){
        return txt === "Show Rental History" ? "Collapse Rental History" : "Show Rental History";
      })
  });
};
</script>

<div>
    <br>
    <br>
    <br>

    <center><img src="/static/images/logos/{{ car.name }}.jpg" alt="Car Logo" class="center"></center>

<br>
<center> <h2 class="display-2" face="Helvetica" >
    {{ car.year }}
    {% if car.name == "BMW" %}
        {{ car.name }}
    {% else %}
        {{ car.name|title }}
    {% endif %}
    {{ car.model|title }}</h2> </center>
<br>
<table class="table table-striped">
    <tbody>
        <tr>
            <td>Make</td>
            <td>{{ car.name|capfirst }}</td>
        </tr>
            <td>Model</td>
            <td>{{ car.model|capfirst }}</td>
        </tr>
            <td>Series</td>
            <td>{{ car.series|capfirst }}</td>
        </tr>
            <td>Year</td>
            <td>{{ car.year }}</td>
        </tr>
            <td>Purchase Price</td>
            <td>${{ car.purchase_price }}</td>
        </tr>
            <td>Engine Size</td>
            <td>{{ car.engine_size }}</td>
        </tr>
            <td>Fuel System</td>
            <td>{{ car.fuel_system }}</td>
        </tr>
            <td>Tank Capacity</td>
            <td>{{ car.tank_capacity }}</td>
        </tr>
            <td>Power</td>
            <td>{{ car.power }}</td>
        </tr>
            <td>Seating Capacity</td>
            <td>{{ car.seating_capacity }}</td>
        </tr>
            <td>Transmission</td>
            <td>{{ car.transmission }}</td>
        </tr>
            <td>Body Type</td>
            <td>{{ car.body_type }}</td>
        </tr>
            <td>Drive</td>
            <td>{{ car.drive }}</td>
        </tr>
            <td>Wheelbase</td>
            <td>{{ car.wheelbase }}</td>
        </tr>
    </tbody>
</table>

<!-- Rental History of each car: currently available to all. Will change to login only after review -->
<!-- Note: Django templating will not ignore commented commands. -->
{% if user.is_authenticated %}
<center>
<button class="btn btn-outline-secondary" type="button" id='history' onclick='toggleHistory("#rentalHistory")'>Show Rental History</button>
</center>
<!-- Div class to make section collapse by default. Click button to show -->
  <div id="rentalHistory" class="accordion-body collapse">
    <center><h2 class="display-2" face="Helvetica">Rental History</h2></center>
    <table class="table table-striped">
        <tbody>
            {% for order in history %}
            <tr>
                <td>Pick up from {{order.pickup_store.name}} on {{order.pickup_date}}</td>
                <td>Dropped off at {{order.return_store.name}} on {{order.return_date}}</td>
                <td>Customer: {{order.customerID.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endif %}

<!-- Icons Grid -->
<div class="features-icons bg-light text-center">
  <div class="container card cardColour">
    <h1 class="mb-5">Suggested Cars:</h1>
    <div class="row">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <img src="/static/images/logos/{{recCar1.name}}.jpg" class="constrain">
          </div>
          <h3><a href="/car_details/{{recCar1.id}}">{{recCar1.year|capfirst}} {{ recCar1.name|title }} {{ recCar1.model|title }}</a>
            <h3>
              <p class="lead mb-0">{{ recCar1.seating_capacity|capfirst }}<br> {{ recCar1.drive|capfirst }} <br> {{ recCar1.body_type|title }} </p>
        </div>
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <img src="/static/images/logos/{{recCar2.name}}.jpg" class="constrain">
          </div>
           <h3><a href="/car_details/{{recCar2.id}}">{{recCar2.year|capfirst}} {{ recCar2.name|title }} {{ recCar2.model|title }}</a>
            <h3>
              <p class="lead mb-0">{{ recCar2.seating_capacity|capfirst }}<br> {{ recCar2.drive|capfirst }} <br> {{ recCar2.body_type|title }} </p>
        </div>
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <img src="/static/images/logos/{{recCar3.name}}.jpg" class="constrain">
          </div>
          <h3><a href="/car_details/{{recCar3.id}}">{{recCar3.year|capfirst}} {{ recCar3.name|title }} {{ recCar3.model|title }}</a>
            <h3>
              <p class="lead mb-0">{{ recCar3.seating_capacity|capfirst }}<br> {{ recCar3.drive|capfirst }} <br> {{ recCar3.body_type|title }} </p>
        </div>
    </div>
    </div>
</div>

<footer class="footer bg-light">
  <div class="text-center">
    <p class="text-muted small mb-4 mb-lg-0">&copy; Car Rental Company 2018. All Rights Reserved.</p>
  </div>
</footer>

{% endblock %}
