{% extends "basesite/base.html" %}


{% block content %}

<main role="main" class="container center_div col-md-6 mb-4">
	<div class="card indigo form-white">
        <div class="card-body">
	
			{% if user.is_authenticated %}
				<br><br><br><br><br>
				<h1 class="alert alert-success" role="alert">Hi Employee: {{ user.username }}!</h1>
				<p><a href="{% url 'logout' %}">logout</a></p>
			{% else %}
				<p>You are not logged in</p>
				<a href="{% url 'login' %}">login</a>
			{% endif %}

{% endblock %}


<!-- Use this for Later -->

<!-- <div class="alert alert-success" role="alert"> -->
  <!-- <h4 class="alert-heading">Well done!</h4> -->
  <!-- <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p> -->
  <!-- <hr> -->
  <!-- <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p> -->
<!-- </div> -->












