{% extends "basesite/base.html" %} <!-- Looks in every "templates" folder for "base.html" file in "basesite folder" -->

{% block content %}
<main role="main" class="container">

          <link rel="stylesheet" type="text/css" href="/static/css/search.css" />
          <h1> i need to put this here so the next line works </h1>
          <h1 id="header"> Search using this fantastically well designed button </h1>

          <!-- Straight from bootstrap tutorials -->
          <div class="input-group mb-3">
            <input type="text" id="carNAME" class="form-control" placeholder="Search cars..." aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Search</button>
            </div>
          </div>
          <!-- below p tag is where the results are shown -->
          <div class="col-lg-8 col-md-10 mx-auto" id="results">

          </div>

          <!-- function to post input of text box to api endpoint and log results -->
          <script>

          // single result only atm
          $(document).ready(function(){
              $("button").click(function(){
                  $.post("/api/search",
                  {
                    name: $('#carNAME').val()
                  },
                  function(data, status){
                      $("#results").text("");
                      // iterates over all results
                      data.test.forEach(function (item){
                        $("#results").append(template(item));
                      });
                      $("#header").text(data.test.length + " results for " + $('#carNAME').val());
                      //$("#object").append(template(data));
                  });
              });
          });

          // returns the templated result, not in a table or anything fancy
          function template(object){
            console.log(object);
            var temp = "";
            temp += "<div id='post-preview' class='card'>\n";
            temp += "<a href='/car_details/" + object.id + "/'>";
            temp += "<h3 class='post-title'>" + object.year + " " + object.name + " " + object.model + " " + object.series + "</h3>";
            temp += "</a></div>";
            return temp;
          }
          </script>

</ul>
{% endblock %}
