{% extends "basesite/base.html" %} <!-- Looks in every "templates" folder for "base.html" file in "basesite folder" -->

{% block content %}
<main role="main" class="container">

          <link rel="stylesheet" type="text/css" href="/static/css/search.css" />

          <h1> i need to put this here so the next line works </h1>
          <h1 id="header"> Search our cars </h1>

          <!-- Straight from bootstrap tutorials -->
          <div class="input-group mb-3">
            <div class="col-xs-2">
              <select class="form-control" id="searchBy">
                  <option value="" disabled selected>Search by...</option>
                  <option name ="name" value="name">Name</option>
                  <option name ="model" value="model">Model</option>
                  <option  name ="series" value="series">Series</option>
              </select>
            </div>
            <input type="text" id="carNAME" class="form-control" placeholder="Search cars..." aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id='searchbtn'>Search</button>
            </div>
          </div>
          <!-- below p tag is where the results are shown -->
          <div class="col-lg-8 col-md-10 mx-auto" id="resultss">

          </div>

          <table id="resultsTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">

            <thead>
              <tr>
                <th class="th-sm">Name
                  <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th class="th-sm">Model
                  <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th class="th-sm">Series
                  <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th name = "year" class="th-sm">Year
                  <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
              </tr>
            </thead>
            <tbody id="results">

            </tbody>

          </table>

          <center>
            <button class="btn btn-outline-secondary" id='load'>Show result chart</button>
          </center>

          <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js'></script>
          <!-- just using chartjs for now -->
          <div id="canvas-holder">
          		<canvas id="chart-area"></canvas>
              <center><button class="btn btn-outline-secondary" id='swap'>Swap to bar</button></center>
          </div>

          <!-- function to post input of text box to api endpoint and log results -->
          <script>

          // Init chart variables
          var myPie;
          var barOptions = {
            responsive: true,
            legend:{
              display: false
            },
            scales: {
              xAxis: [{gridLines: {
                display: false
              }}],
              yAxis: [{
                  gridLines: {
                    display: false,
                  }
                }]
            }
          };
          var pieOptions = {
            responsive: true,
            legend:{
              display:true
            }
          }
          var conf = {
          			type: 'pie',
          			data: {
          				datasets: [{
          					data: [
          						10,
          						10,
          						10,
          						10,
          						10,
          					],
          					backgroundColor: [
          						"#C0392B", "#9B59B6", "#3498DB", "#27AE60", "#1ABC9C", "#8E44AD",
                      "#2980B9", "#E74C3C", "#2ECC71", "#F1C40F", "#16A085", "#F39C12",
                      "#E67E22", "#D35400"
          					],
          					label: '# Cars'
          				}],
          				labels: [
          					'Red',
          					'Orange',
          					'Yellow',
          					'Green',
          					'Blue'
          				]
          			},
          			options: pieOptions
          };

          function initChart(){
            var context = document.getElementById('chart-area').getContext('2d');
      			myPie = new Chart(context, conf);
            myPie.update();
          }

          window.onload = function(){
            var context = document.getElementById('chart-area').getContext('2d');
      			myPie = new Chart(context, conf);
            myPie.update();
            $("#canvas-holder").toggle();
            $("#load").hide();
          }

          $('#load').click(function(){
            $("#canvas-holder").toggle();
          })

          $('#swap').click(function(){
            var swapto;// = (this.text == 'bar') ? 'pie' : 'bar';
            $('#swap').text(function(i, txt){
              swapto = txt == "Swap to bar" ? "bar" : "pie";
              return txt == "Swap to bar" ? "Swap to pie" : "Swap to bar";
            })
            conf.type = swapto;
            if (swapto == 'bar'){
              conf.options = barOptions;
            }
            else{
              conf.options = pieOptions;
            }
            myPie.destroy();
            initChart();
            // Need to force this value to true. Tried to do in config, wasn't working
            if (swapto == "bar"){
              myPie.options.scales.yAxes[0].ticks.beginAtZero = true;
            }
          })

          // Counted holds chart labels in an array
          var counted = {};
          var datatable = undefined;

          // Gets the results of the search from the api and change things
          $(document).ready(function(){
              $("#searchbtn").click(function(){
                  $.post("/api/search",
                  {
                    'search': $('#carNAME').val(),
                    'selected': $('#searchBy').val()
                  },
                  function(data, status){
                      $("#load").show();
                      counted = {};
                      if (datatable != undefined) {
                        datatable.destroy();
                      }
                      $("#results").text("");
                      // iterates over all results
                      data.items.forEach(function (item){
                        if (!(item.name in Object.keys(counted))){
                          // Add the number of cars by name to the counted object
                          counted[item.name] = data.items.filter(single => single.name == item.name).length;
                        }
                        $("#results").append(template(item));
                      });
                      $("#header").text(data.items.length + " results for " + $('#carNAME').val());
                      datatable = $('#resultsTable').DataTable();

                      // Update the chart with the new data
                      myPie.data.datasets[0].data = Object.values(counted);
                      myPie.data.labels = Object.keys(counted);
                      myPie.update();
                  });
              });
          });

          // returns the templated result, not in a table or anything fancy
          function template(object){
            var temp = "";

            temp += "<tr>";
            temp += "<td><a href='/car_details/" + object.id + "/'>" + object.name + "</a></td>";
            temp += "<td>" + object.model + "</td>";
            temp += "<td>" + object.series + "</td>";
            temp += "<td>" + object.year + "</td>";
            temp += "</tr>"

            return temp;
          }
          </script>

</ul>
{% endblock %}
