{% extends "basesite/base.html" %}
{% block content %}
<br><br>
<div class="mapouter">
    <div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q={{store.city}} {{store.state}}&t=&z=18&ie=UTF8&iwloc=&output=embed&z=15"
    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</div>
</div>
<main role="main" class="container">

<!-- Custom styles for this template -->
<link href="/static/css/landing-page.min.css" rel="stylesheet">
<!-- Custom fonts for this template -->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

<link href="/static/CSS/main.css" rel="stylesheet">
<!-- Div class to make section collapse by default. Click button to show -->

  <div id="stores">
    <center><h2 id="title" class="display-2" face="Helvetica">{{store.name}}</h2></center>
    <table class="table table-striped">
        <tbody>
            <tr>
              <td id="StoreName">Location: {{store.name}}, {{store.state}}</td>
              <td>Address: {{store.address}}</td>
              <td>Phone Number: {{store.phone}}</td>
            </tr>
        </tbody>
    </table>
  </div>

  <!-- Current cars at store -->
  <br>

  <div id="cars">
    <center><h3 class="display-3" face="Helvetica">Available cars</h3></center>
    <table class="table table-striped">
        <tbody>
            {% for car in cars %}
              {% if car.currentStore == store.name %}
                <tr>
                  <td><a name="CarInStore" href="/car_details/{{car.id}}">{{car.year}} {{car.name}} {{car.model}}</a></td>
                  <td>{{car.series}}</td>
                  <td>{{car.drive}}</td>
                </tr>
              {% endif %}
            {% endfor %}
        </tbody>
    </table>
  </div>

</div>

<footer class="footer bg-light">
  <div class="text-center">
    <p class="text-muted small mb-4 mb-lg-0">&copy; Car Rental Company 2018. All Rights Reserved.</p>
  </div>
</footer>

{% endblock %}
