{% extends "basesite/base.html" %}

<!-- templates/registration/login.html -->
{% block content %}
<br><br><br>

<script>
$(document).ready(function(){
    $(".close").click(function(){
        $("#myAlert").alert("close");
    });
});
</script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div class=" container center_div col-md-6 mb-4">
	<div class="card indigo form-white">
        <div class="card-body">
			<h2 class="display-2" class="text-center white-text py-3" ><i class="fa fa-user"></i>Employee Login</h2><br>

			<form method="post" id="login-form" >
                {% csrf_token %}
                <table class="table" id="login-table">
                    <tr>
                        <td><label for="id_username">Username</label></td>
                        <td><input id="id_username" name="username" type="text" class="form-control" required></td>
                    </tr>
                    <tr>
                        <td><label for="id_password">Password</label></td>
                        <td><input id="id_password" name="password" type="password" class="form-control" required></td>
                    </tr>
                </table>
				
                
				
				{% if form.errors %}
					<!-- label label-danger -->
                    <div class=" label label-danger alert alert-warning alert-dismissible fade show" role="alert">
                        <strong> Incorrect Username or Password. </strong> Please try again.
                    
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" >
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					
					
					
                {% endif %}
				
				
				
				<div>
					<button type="submit" class="btn btn-outline-success my-2 my-sm-0">Login</button>
				</div>
            </form>
						
		</div>
    </div>
</div>

{% endblock %}